<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'users/list',user:@user,book:@book %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h1>
      <table class="table table-hover table-inverse">
            <tr>
              <td>
                <%= link_to user_path(@book_show.user.id) do %>
                  <%= image_tag @book_show.user.get_profile_image(100,100) %>
                  <br/>
                  <%= @book_show.user.name %></td>
                <% end %>
          
              <td><%= link_to @book_show.title,book_path(@book_show.id) %></td>
          
              <td><%= @book_show.body %></td>

              <td class="favorite-btn-<%= @book_show.id %>">
                <%= render 'favorites/favorite',book: @book_show %>
              </td>

              <td>
                <div id="star-show"></div>
                <script>
                  $('#star-show').empty(); 
                  var elem = document.getElementById('star-show');
                  var opt = {  
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    readOnly: true, 
                    score: Number(' <%= @book_show.star %>'),
                  };
                  raty(elem,opt);

                </script>
               </td> 
              <% if @book_show.user.id==current_user.id %>
                <td><%= link_to "Edit",edit_book_path(@book_show.id),class: 'btn btn-success' %></td>
                
                <td><%= link_to "Destroy",book_path(@book_show.id),class: "btn btn-danger",method: :delete , data: {confirm: "本当に消しますか" } %></td>
              <% end %>

              <td>閲覧数: <%= @book_show.impressions_count %></td>
            </tr>
          
      </table>
      <div class="book_comment">
        <%= render 'book_comments/index',book: @book_show %>
      </div>
      <div>
        <%= render 'book_comments/form',book: @book_show %>
      </div>
    </div>
  </div>
</div>